html, body {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-weight: bold;
	font-size: 3rem;
}

p {
	animation: move 1s linear infinite alternate;
}

@keyframes move {
	0%   { color: #ff0000; }
	100% { color: #0000ff; }
}